@import "../colors/colors.css";

* {
    font-family: "Fira Code Nerd Font", monospace;
    font-size: 14px;
    font-weight: 500;
}

window#waybar {
    background: alpha(@base, 0.75);
    border-top: 1px solid alpha(@text, 0.05);
    color: @text;
}

#workspaces {
    margin-left: 6px;
}

#workspaces button {
    color: @overlay0;
    background: transparent;
    padding: 0 10px;
    transition: all 0.2s ease;
    border-radius: 6px;
}

#workspaces button:hover {
    color: @text;
}

#workspaces button.active {
    color: @text;
    background: alpha(@text, 0.08);
    border-radius: 6px;
    margin: 4px 2px;
}

#workspaces button.urgent {
    color: @red;
}

#window {
    color: @subtext0;
    font-size: 12px;
}

#clock, #battery, #network, #memory, #cpu, #temperature, #pulseaudio {
    padding: 0 12px;
    color: @subtext1;
    border-radius: 6px;
}


#battery.critical {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}